table
{
    border-spacing: 4px;
    border-collapse: collapse;
    margin: 5px 0px 0px 0px;
}

td
{
	text-align: center;
}

td, th
{
	padding: 3px;
}

th, td, table
{
	border: 2px solid #69c;
}

button
{
    width: 30px;
    height: 30px;
    font-size: 23px;
}

#today
{
    width: 95px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    right: 100px;
    top: 25px;
}

#arrow_left_week
{
    position: absolute;
    right: 65px;
    top: 25px;
}

#arrow_right_week
{
    position: relative;
    top: 25px;
    left: 95px;
}

b
{
    position: relative;
    top: 25px;
    left: 105px;
    font-size: 25px;
}

h1
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 580px;
    left: 110px;
}

img
{
    width: 100px;
    height: 100px;
}

div
{
    position: absolute;
    left: 15px;
}

.for_weeks
{
    position: absolute;
    left: 450px;
    top: 23px;
}

td:hover
{
    background: #78a2b7;
}