html
{
    overflow: hidden;
}

table.month
{
    border-spacing: 4px;
    border-collapse: collapse;
    margin: 5px 0px 0px 0px;
    width: 270px;
    text-align: center;
}

td, th
{
	padding: 3px;
	border: 2px solid #69c;
}

button
{
    width: 30px;
    height: 30px;
    font-size: 23px;
}

#today
{
    width: 95px;
    font-size: 20px;
    position: relative;
    top: 51px;
    left: 5px;

}

#arrow_left, #arrow_right
{
    position: relative;
    top: 54px;
    left: 5px;
}

b
{
    position: relative;
    top: 53px;
    left: 5px;
    font-size: 25px;
}

h1
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    position: relative;
    left: 100px;
    bottom: 90px;
}

img
{
    width: 100px;
    height: 100px;
}

.for_calendar
{
    position: absolute;
    left: 15px;
    width: 270px;
}

.for_header_and_image
{
    width: 277px;
    height: 110px;
}

.for_weeks
{
    position: absolute;
    width: 700px;
    height: 160px;
    bottom: 530px;
    left: 350px;
}

.header
{
    text-align: left;
    vertical-align: top;
}

.for_show_table
{
    position: absolute;
    left: 285px;
    top: 153px;
    width: 1168px;
    height: 530px;
}

table.show
{
    border-spacing: 4px;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

tbody.scrolling_table
{
    display: block;
    width: 100%;
    height: 480px;
    overflow: hidden;
    overflow-y: auto;
}

tr.scrolling_table
{
    display: table;
    width: 1168px;
    table-layout: fixed;
}

#empty, .empty
{
    width: 80px;
}

.month > tbody > tr > td.active, .month > tbody > tr > td:hover
{
    background: #78a2b7;
}

select
{
    position: relative;
    left: 45px;
    top: 48px;
}

button.save
{
    width: 130px;
}

.overlay
{
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}

.pop_up
{
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
    background-color: #ff5252;
    color: #fff;
    z-index: 100;
}

.close_pop_up
{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close_pop_up:before
{
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close_pop_up:after
{
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}