<!DOCTYPE html>
<html>
<head>
<title>Web-Diary</title>
    <link rel="icon" href="{{url_for('static', filename='images/img-calendar.ico')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CalendarStyle.css')}}"/>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='ScriptForTitle')}}"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            var rows = $('table.month').find('td');
            $.each(rows, function(index, value)
            {
                if ({{calendar.today_Month}} == {{calendar.Month}})
                    if ({{calendar.today_Year}} == {{calendar.Year}})
                        if (rows.eq(index).text() == {{calendar.today_Day}})
                            rows.eq(index).css('background', 'green');
                if ({{calendar.week_Month}} == {{calendar.Month}})
                    if ({{calendar.week_Year}} == {{calendar.Year}})
                        if (rows.eq(index).text() == {{calendar.Day}})
                            if (rows.eq(index).text() != {{calendar.today_Day}})
                                    rows.eq(index).css('background', '#78a2b7');
            });
        });
    </script>
</head>
<body>
<img src="{{url_for('static', filename='images/img-calendar.jpg')}}">
<h1>Календарь</h1>
<form method="post" class="for_weeks">
    <button id="today" title="{{calendar.title_for_today()}}" formaction="{{url_for('show_today')}}">Сегодня</button>
    <button id="arrow_left_week" title="Предыдущая неделя" formaction="{{url_for('down_week')}}"><</button>
    <button id="arrow_right_week" title="Следующая неделя" formaction="{{url_for('up_week')}}">></button>
    <b>{{calendar.text_for_today_month_and_year()}}</b>
</form>
<div>
<form method="post">
    <button title="Предыдущий месяц" formaction="{{url_for('down_month')}}"><</button>
    <button title="Следующий месяц" formaction="{{url_for('up_month')}}">></button>
</form>
    {% if IsToday %}
        {{calendar.formatmonth(calendar.today_Year, calendar.today_Month)|safe}}
    {% else %}
        {{calendar.formatmonth(calendar.Year, calendar.Month)|safe}}
    {% endif %}
    </div>
</body>
</html>