table
{
    border-spacing: 4px;
    border-collapse: collapse;
}

td
{
	text-align: center;
}

th .mon:hover::after
{
    content: attr(class, string, "Понедельник");
}

td, th
{
	padding: 3px;
}

th, td, table
{
	border: 2px solid #69c;
}

button
{
    width: 30px;
    height: 30px;
    font-size: 23px;
}