<!DOCTYPE html>
<html>
<head>
<title>Web-Diary</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CalendarStyle.css')}}"/>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='ScriptForTitle')}}"></script>
</head>
<body>
<img src="{{url_for('static', filename='images/img-calendar.jpg')}}">
<h1>Календарь</h1>
<form method="post" class="for_weeks">
    <button id="today" title="Предыдущий месяц" formaction="{{url_for('show_today')}}">Сегодня</button>
    <button id="arrow_left_week" title="Предыдущая неделя" formaction="{{url_for('down_week')}}"><</button>
    <button id="arrow_right_week" title="Следующая неделя" formaction="{{url_for('up_week')}}">></button>
</form>
<div>
<form method="post">
    <button title="Предыдущий месяц" formaction="{{url_for('down_month')}}"><</button>
    <button title="Следующий месяц" formaction="{{url_for('up_month')}}">></button>
</form>
    {% if IsToday %}
        {{calendar.formatmonth(calendar.today_Year, calendar.today_Month)|safe}}
    {% else %}
        {{calendar.formatmonth(calendar.Year, calendar.Month)|safe}}
    {% endif %}
    </div>
</body>
</html>