<!DOCTYPE html>
<html>

<head>
<title>Web-Diary</title>
    <link rel="icon" href="{{url_for('static', filename='images/img-calendar.ico')}}" type="image/x-icon">
    {% assets 'calendar_css' %}
    <link rel="stylesheet" type="text/css" href="{{ASSET_URL}}"/>
    {% endassets %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript">{% include 'main.js' %}</script>
</head>

<body>
<div class="for_header_and_image">
<img src="{{url_for('static', filename='images/img-calendar.jpg')}}">
<h1>Календарь</h1>
    </div>

<div class="for_weeks">
<form method="post">
    <button id="today" title="{{utils.title_for_today(calendar.TODAY_DAY, calendar.TODAY_MONTH, calendar.TODAY_YEAR)}}"
            formaction="{{url_for('show_today')}}">Сегодня</button>
    <button id="arrow_left" title="{{cls.down_title}}" formaction="{{cls.url_down}}"><</button>
    <button id="arrow_right" title="{{cls.up_title}}" formaction="{{cls.url_up}}">></button>
    <b>{{utils.text_for_today_month_and_year(calendar.TODAY_MONTH, calendar.TODAY_YEAR)}}</b>
    <select id="what_show">
        <option>День</option>
        <option>Неделя</option>
        <option>Месяц</option>
    </select>
</form>
</div>

<div class="for_calendar">
<form method="post">
    <button title="Предыдущий месяц" formaction="{{url_for('down_month_in_calendar')}}"><</button>
    <button title="Следующий месяц" formaction="{{url_for('up_month_in_calendar')}}">></button>
</form>
    {% block CalendarForDiary %}
    {% endblock %}
    </div>

<div class="overlay js_overlay">
    <div class="pop_up js_pop_up">
        <form id="pop_up_form" method="post">
            <input type="text" name="description_of_event" id="description" placeholder="Название события">
            <input type="text" name="time_of_event" id="event_time" placeholder="Время">
            <button class="save" formaction="{{url_for('add_record')}}">Сохранить</button>
            <input type="text" hidden name="additional" id="additional_data">
            <div class="close_pop_up js_close_pop_up"></div>
        </form>
    </div>
</div>

<div id="delete">Удалить</div>

<div class="for_show_table">
<table class="show">
    <thead>
        <tr class="scrolling_table">
            <th id="empty"></th>
            <th class="header scrolling">{{calendar.Day_format}}<br>{{calendar.Day}}</th>
    </thead>
    <tbody class="scrolling_table">
    {% block initial_state %}
    {% endblock %}
    </tbody>
</table>
</div>
</body>
</html>